.btn{
    margin-left: 12%;
    width: 200px;
    margin-bottom: 10px;
}

.main {
    text-align: center;
    margin-top: 50px;
    padding-top: 110px;
}
img {
    width: 150px;
}
.row-title {
    height: 30px;
}
.row-picture {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-score-of-score {
    filter: invert(.5);
}
.perfect-value {
    color: #4CAF50;
}
.score{
    text-align: center;
}
.score img{
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.abc img {
    width: 20px;
    height: 20px;
}
.scoreyellow {
    color: yellow;
}
.icons{
    width: 30px;
    height: 30px;
} 
.column{
    width: 395px;
}