<div>
    <h3>Nachhaltigkeitsscore</h3>

    <p>Nachhaltige und bezahlbare Lebensmittel sowie Getränke stehen für uns, FoodPrint, an erster Stelle. Sich
        nachhaltig zu ernähren und dabei Umwelt, Mensch und Tier zu respektieren und zu schützen, schließt eine
        kostengünstige und leckere Ernährung nicht aus. Wir bei FoodPrint wollen mit unserem Nachhaltigkeitsscore ein
        bisschen Licht in das große Lebensmittel-Angebot werfen und so bei einer bewussten Auswahl der Lebensmittel
        unterstützen.
    </p>
    <p>Eine nachhaltige Kost besteht möglichst aus ökologisch, regional, saisonal und fair produzierten Lebensmitteln
        mit geringem Verarbeitungsgrad. So trägt sie dazu bei, die weltweiten Lebens- und Umweltbedingungen positiv zu
        beeinflussen und unseren schönen Planeten noch lange für Mensch und Tier zu erhalten.
    </p>
    <p>Der FoodPrint Score unterstützt bei der Identifikation nachhaltiger Produkte. Er wird aus dem Durchschnitt fünf
        verschiedener Kategorien ermittelt: Herkunft, Verpackungsart, CO2-Ausstoß, Wasserverbrauch und Zertifizierungen.
        Jede einzelne Kategorie zeichnet die Nachhaltigkeit eines Produktes aus. Insgesamt kann ein Produkt 5 Sterne
        erhalten, was einer sehr hohen Nachhaltigkeit entspricht. Solch ein Produkt könnte bedenkenlos konsumiert
        werden.
    </p>
    <p>
        Innerhalb der Kategorien kann ein Produkt ebenfalls höchstens 5 Punkte erreichen. Wenn das Produkt in einer
        Kategorie weniger Punkte erhält, sinkt die Anzahl der Sterne und man sollte sich vor dem Kauf gut überlegen, wie
        wichtig einem der Konsum ist und ob es nicht vielleicht <a routerLink="/alternativen">nachhaltigere
            Alternativen</a>
        gibt.
    </p>
    <p>
        Wie viele Punkte ein Produkt für welche Eigenschaften erhält und warum das so ist, ist im Folgenden genau
        erklärt:
    </p>
    <!--1. Herkunft-->
    <h5 class="herkunft" id='herkunft'>Herkunft</h5>
    <nav>
        <img src="assets/img/regionoforigin.svg" alt="Herkunft" />
    </nav>
    <aside>
        <table>
            <tr class="herkunft">
                <th class="breit">Herkunft</th>
                <th class="klein">Wertung</th>
            </tr>
            <tr>
                <td>Deutschland</td>
                <td>5</td>
            </tr>
            <tr>
                <td>(ohne Deutschland)</td>
                <td>2,50</td>
            </tr>
            <tr>
                <td>Welt (ohne Europa)</td>
                <td>0,75</td>
            </tr>
        </table><br>
    </aside>
    <section>
        In dieser Kategorie wird die Herkunft des Produktes in Deutschland, Europa und die restliche Welt eingeteilt.
        Der regionale Verzehr, das heißt, das Produkt wurde in Deutschland hergestellt, wird von uns mit der maximalen
        Anzahl von 5 Punkten bewertet. Wenn ein Apfel hingegen aus Neuseeland kommt erhält er lediglich 0,75 Punkte
        (siehe Tabelle), da dieser einen Transportweg von über 18.500 km hinter sich hat, wodurch viele umweltschädliche
        Stoffe ausgestoßen wurden.
    </section>
    <!--2. Verpackung-->
    <h5 class="verpackung" id="verpackung">Verpackung</h5>
    <nav>
        <img src="assets/img/package.svg" alt="Verpackung" />
    </nav>
    <aside>
        <table>
            <tr class="verpackung">
                <th class="breit">Verpackung</th>
                <th class="klein">Wertung</th>
            </tr>
            <tr>
                <td>ohne</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Pappe</td>
                <td>2,50</td>
            </tr>
            <tr>
                <td>Plastik</td>
                <td>0,75</td>
            </tr>
        </table><br>
    </aside>
    <section>
        <p>
            Die Betrachtung der Verpackung ist FoodPrint sehr wichtig, um das Produkt in seinem Abfallaufkommen zu
            bewerten.
            Jährlich entsteht alleine in Deutschland ein Verpackungsmüll von 5,7 Millionen Tonnen. Davon machte den
            größten
            Anteil mit 2,5 Millionen Tonnen die Leichtverpackung aus, worunter auch Plastik zählt . Das entspricht
            ungefähr
            einem Gewicht von 555 ausgewachsenen Elefanten!
        </p>
        <p>Der Müll gelangt oft in unsere Meere, wodurch zahlreiche Lebewesen gefährdet sind. Außerdem wird vielerorts
            das
            Grundwasser verschmutzt, was einen direkten Schaden für den Menschen ausmacht.
        </p>
        <p>
            Viele Produkte sind unnötig in Plastik verpackt. Zum Beispiel bietet die Schale einer Banane genügend
            Schutz,
            was eine zusätzliche Verpackung überflüssig macht. Wenn möglich, ist keine Verpackung somit die
            nachhaltigste
            Lösung und erhält 5 Punkte.
        </p>
    </section>
    <!--3. CO2-->
    <h5 class="fußc" id='fußc'>Co2 Fußabdruck</h5>
    <nav>
        <img src="assets/img/co2.svg" alt="Co2 Fußabdruck" />
    </nav>
    <aside>
        <table>
            <tr class="fußc">
                <th class="breit">Co2 Fußabdruck</th>
                <th class="klein">Wertung</th>
            </tr>
            <tr>
                <td>
                    < 0,5 Co2 Äq./kg</td>
                <td>5</td>
            </tr>
            <tr>
                <td>
                    < 1,5 Co2 Äq./kg</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    < 2,5 Co2 Äq./kg</td>
                <td>1,5</td>
            </tr>
            <tr>
                <td>
                    < 4 Co2 Äq./kg</td>
                <td>0,75</td>
            </tr>
            <tr>
                <td> > 4 Co2 Äq./kg</td>
                <td>0,25</td>
            </tr>
        </table><br>
    </aside>
    <section>
        <p>
            Aufgrund der Klimaerwärmung ist der CO2 Fußabdruck ein sehr wichtiges Thema. Bei der Produktion von
            Lebensmitteln wird meistens direkt oder indirekt CO2 ausgestoßen. Allerdings gibt es noch andere
            umweltschädliche Treibhausgase. Gemäß ISO 14067 zum Carbon Footprint von Produkten sind alle
            Treibhausgasemissionen berücksichtigt, darunter neben Kohlenstoffdioxid (CO2) insbesondere auch Methan (CH4)
            und
            Lachgas (N2O). Diese werden mit Hilfe von Umrechnungsfaktoren zu CO2-Äquivalente berechnet. Zum Beispiel
            beträgt
            das CO2-Äquivalent von Methan für einen Zeitraum von 100 Jahren 28. Das heißt, dass 1 kg Methan innerhalb
            der
            ersten 100 Jahre 28 mal so stark zum Treibhauseffekt beiträgt als 1 kg CO2. Bei Distickstoffmonoxid beträt
            dieser Wert 265.
        </p>
        <p>
            Die Umrechnung wird bei unserem Score selbstverständlich berücksichtigt. Die Punkteverteilung erfolgt
            entsprechend der Tabelle. Wenn ein Produkt zum Beispiel weniger als 1,5 CO2-Äquivalente pro kg aber 0,5 oder
            mehr CO2-Äq./kg benötigt, erhält es drei Punkte.
        </p>
    </section>
    <!--4. Wasser-->
    <h5 class="fußw" id='fußw'> Wasser Fußabdruck</h5>
    <nav>
        <img src="assets/img/wateruse.svg" alt="Wasser Fußabdruck" />
    </nav>
    <aside>
        <table>
            <tr class="fußw">
                <th class="breit">Wasser Fußabdruck</th>
                <th class="klein">Wertung</th>
            </tr>
            <tr>
                <td>
                    < 1.000 l/kg</td>
                <td>5</td>
            </tr>
            <tr>
                <td>
                    < 3.000 l/kg</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    < 5.000 l/kg</td>
                <td>1,50</td>
            </tr>
            <tr>
                <td>
                    < 20.000 l/kg</td>
                <td>0,75</td>
            </tr>
            <tr>
                <td> > 20.000 l/kg</td>
                <td>0,25</td>
            </tr>
        </table><br>
    </aside>
    <section>
        Die weltweite zunehmende Wasserknappheit feuert den Kampf zwischen Trinkwasser und Produktionswasser weiter an.
        Die starken Industrien verknappen und verschmutzen teilweise das Trinkwasser für die umliegende Bevölkerung.
        Daher ist es FoodPrint wichtig die Produkte auch auf Basis ihres Wasserverbrauches zu bewerten. Für den Anbau
        von 1 kg Avocado wird beispielsweise etwa 1.500 l verbraucht, wohingegen ein Apfel im Schnitt nur 700 l/kg
        verbraucht. 1 kg Rindfleisch verbraucht allerdings ganze 15.490 l und gilt als eines der Lebensmittel, die am
        meisten Wasser in der Produktion benötigen. Deswegen gilt, lieber eine Avocado als ein Stück Rindersteak essen.
        Im Besten Fall greift man jedoch auch zur Avocado nur in Ausnahmefällen und isst stattdessen öfter mal einen
        Apfel!
    </section>
    <!--5. Zertifizierung-->
    <h5 class="zerti" id='zerti'>Zertifizierungen</h5>
    <nav>
        <img src="assets/img/certificate.svg" alt="Zertifizierungen" />
    </nav>
    <aside>
        <table>
            <tr class="zerti">
                <th class="breit">Zertifizierungen</th>
                <th class="klein">Wertung</th>
                <th>Summe</th>
            </tr>
            <tr>
                <td>Fairtrade</td>
                <td>2</td>
                <td rowspan="3">5</td>
            </tr>
            <tr>
                <td>Bio</td>
                <td>2</td>
            </tr>
            <tr>
                <td>weitere Zertifizierungen</td>
                <td>1</td>
            </tr>
        </table><br>
    </aside>
    <section>
        <p>
            Die freiwillige Zertifizierung eines Produktes möchte FoodPrint auch positiv bewerten. Dazu zählen
            Zertifizierungen mit sozialer und ökologischer Ausrichtung, welche von einer seriösen Multi-Stakeholder
            Initiative vergeben werden. Für das bekannte Fair-Trade-Siegel, welches für gute Arbeitsbedingungen und
            faire Löhne steht, erhält ein Produkt zwei Punkte. Wenn das Produkt eine Bio-Zertifzierung hat, was für
            ökologisch wertvolle Landwirtschaft steht, erhält das Produkt ebenfalls zwei Punkte. Für weitere nachhaltige
            Zertifizierungen erhält das Produkt einmalig einen Punkt.
        </p>
        <p>
            Wenn ein Produkt zum Beispiel fair-trade und bio ist, erhält es vier Punkte. Wenn es fairtrade und mit dem
            Vegan-Label ausgezeichnet ist, erhält es drei Punkte.
        </p>
    </section>
    <h5 class="fehlendedaten">Fehlende Daten</h5>
    <nav class="bildsw">
        <img src="/assets/img/regionoforigin.svg" alt="Herkunft" />
        <img src="/assets/img/package.svg" alt="Verpackung" />
        <img src="/assets/img/co2.svg" alt="Co2 Fußabdruck" />
        <img src="/assets/img/wateruse.svg" alt="Wasser Fußabdruck" />
        <img src="/assets/img/certificate.svg" alt="Zertifizierungen" />
    </nav>

    <section>
        Natürlich ist die Datenbeschaffung in jeder Kategorie für jedes Produkt nicht immer möglich. Daher hat FoodPrint
        sich entschlossen einen Durschnittswert zur Berechnung des Scores zu nutzen. Dies ermöglicht einen Vergleich
        unter den Produkten, auch wenn Daten zum Produkt fehlen sollten. Fehlende Daten zu einer Kategorie werden anhand
        eines ausgegrauten Icons symbolisiert. Selbstverständlich könnt ihr euch immer an unseren Kunden-Support wenden,
        wenn es Unklarkeiten gibt oder ihr unsere Informationen sogar ergänzen könnt!
    </section>
</div>